*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}
body{
    background-color: rgb(54, 51, 51);
}
h1{
    color: white;
    text-align: center;
    animation: colorchange 4s infinite;

}
@keyframes colorchange {
    0% { color: white; }
    50% { color: rgb(255, 0, 0); }
    100% { color: white; }
}